$background-color: hsl(254%, 73%, 89%);
$header-color: hsl(43, 53%, 92%);
/*$header-color: rgb(245, 228, 201);*/
$link-color: rgb(145, 114, 199);
$text-color: rgb(48, 0, 57);
$article-background: rgb(159, 154, 179);

html {
  background: $background-color;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  a:link, a:visited {
    //color: $link-color;
    text-decoration: none;
  }
}

a:link { color: $link-color; }
a:visited { color: $article-background; }

header {
  background: url(/images/Dirty_Graph_Paper_Texture_by_angelandspot.jpg)
    $header-color;

  h1 {
    @include transform(rotate(0.3deg));
    text-shadow: 0 0 5px $header-color;
  }

  a:link, a:visited {
    color: $article-background;
    text-decoration: none;
  }
}

article {
  background: $article-background;
  a:link, a:visited {
    color: $header-color;
    text-decoration: none;
  }
  h2, h3, h4 { color: $background-color }
}

pre {
  background: $background-color;
}

code {
  background: rgba($background-color, 0.35);
  box-shadow: 0 0 0.1em $article-background inset;
  pre & {
    background: transparent;
    box-shadow: none;
  }
}

blockquote {
  color: $background-color;
}

.pagination {
  a:link, a:visited {
    color: $link-color;
    text-decoration: none;
  }
}
/* override highlight.js colors */

.hljs {
  background: transparent;
}

.hljs, .hljs-subst, .hljs-tag .hljs-title, .nginx .hljs-title {
  color: $text-color;
}

/** ColorBlender recommends:
 * #9f9ab3 (greyish purple)
 * white
 * #b3b3b3
 * black
 * more white
 */

