html {
  margin: 0 $gutter;
  padding-bottom: $gutter;
}

body {
  @include outer-container;
}

header {
  padding: golden-ratio($gutter, -1);
}

#main {
  @include span-columns(9);
  @include media($mobile) {
    @include span-columns(12);
  }
}

article {
  border-radius: $gutter;
  padding: $gutter;
  margin: $gutter 0;
  h2 {
    margin: 1em 0 0.5em;
    &:first-child { margin-top: 0; }
  }
  > :last-child { margin-bottom: 0; }
}

aside {
  @include span-columns(3);
  @include omega;

  @include media($mobile) {
    @include span-columns(12);

    @media (min-width: 320px) {
      @include columns(2);
      section {
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
        page-break-inside: avoid;
        padding-top: 0.1em; /* even out the columns on Firefox */
      }
    }
  }
}

pre {
  padding: 1em;
  border-radius: 0.3em;
}

code {
  padding: 0 0.1em;
  border-radius: 0.2em;
  pre & {
    padding: 0;
  }
}

.pagination {
  @include clearfix;
  a.prev_page { float: left; }
  a.next_page { float: right; }
}