body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

code, kbd, pre, samp {
  font-family: 'Inconsolata', "Lucida Console", Monaco, monospace;
}

.readmore {
  letter-spacing: 0.1em;
  font-size: 150%;
  line-height: 0;
}